[Unit]
Description=ri49-scanner
After=multi-user.target

[Service]
Type=simple
KillMode=process
Restart=always
RestartSec=60
ExecStart=/opt/ri49-scanner/main.py

[Install]
WantedBy=multi-user.target